@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background-color: #4a98f7;
  --border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
}

.container {
  width: 69rem;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 3rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01);
}

.wrapper {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.text-input {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.text-input .to-text {
  border-radius: 0px;
  border-left: 1px solid #ccc;
}

.text-input textarea {
  height: 25rem;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  background: none;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
}

.text-input textarea::placeholder {
  color: #b7b6b6;
}

.controls {
  padding: 1.2rem 1.5rem;
  list-style: none;
}

.controls,
li,
.icons,
.icons i {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls .icons i {
  width: 5rem;
  font-size: 1.6rem;
  color: #9f9f9f;
  cursor: pointer;
  margin-right: 2rem;
  transition: transform 0.2s ease;
  justify-content: center;
}

.controls .icons {
  width: 40%;
}

.row.from {
  border-right: 1px solid #ccc;
  padding-right: 1.5rem;
}

.row.to {
  border-left: 1px solid #ccc;
  padding-left: 1.5rem;
}

.controls .row select {
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
}

.controls .exchange {
  color: #9f9f9f;
  font-size: 1.6rem;
  cursor: pointer;
}

.controls i:active {
  transform: scale(0.9);
}

.text-input textarea::-webkit-scrollbar {
  width: 4px;
}

.controls .row select::-webkit-scrollbar {
  width: 8px;
}

.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track {
  background: #fff;
}

.text-input textarea::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 8px;
}

.controls .row select::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

.btn-translate {
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #5372f0;
}

@media (max-width: 660px) {
  .container {
    padding: 20px;
  }
  .wrapper .text-input {
    flex-direction: column;
  }
  .text-input .to-text {
    border-left: 0px;
    border-top: 1px solid #ccc;
  }
  .text-input textarea {
    height: 200px;
  }
  .controls .row .icons {
    display: none;
  }
  .btn-translate {
    padding: 13px;
    font-size: 16px;
  }
  .controls .row select {
    font-size: 16px;
  }
  .controls .exchange {
    font-size: 14px;
  }
}
